<div class="container">
  <h3>Header with cart label</h3>
  <app-header
    [cartOptions]="{
      totalItems: '5'
    }"
  ></app-header>

  <h3>Header with cart dropdown</h3>
  <app-header
    [cartOptions]="{
      totalItems: '2'
    }"
  >
    <ng-template #cartDropdown>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item disabled dropdown-title" href="#">Recently Added:</a></li>
        <li>
          <a class="dropdown-item product-item" href="#">
            <div class="product-image">
              <img src="https://via.placeholder.com/42" alt="product-image">
            </div>
            <div class="product-name">Google Home the Voice-Controlled Speaker Grey</div>
          </a>
        </li>
        <li>
          <a class="dropdown-item product-item" href="#">
            <div class="product-image">
              <img src="https://via.placeholder.com/42" alt="product-image">
            </div>
            <div class="product-name">Apple Watch S7 41mm Starlight</div>
          </a>
        </li>
      </ul>
    </ng-template>
  </app-header>

  <h3>Header with cart dropdown allow to add more</h3>
  <app-header
    [cartOptions]="{
      totalItems: '2'
    }"
  >
    <ng-template #cartDropdown>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item disabled dropdown-title" href="#">Recently Added:</a></li>
        <li>
          <a class="dropdown-item product-item" href="#">
            <div class="product-image">
              <img src="https://via.placeholder.com/42" alt="product-image">
            </div>
            <div class="product-name">Google Home the Voice-Controlled Speaker Grey</div>
          </a>
        </li>
        <li class="text-center py-1">
          <button type="button" class="btn btn-outline-primary">Shop More Accessories</button>
        </li>
      </ul>
    </ng-template>
  </app-header>
  Contents
</div>
